
.users-container {
    height: 100vh;
    overflow: auto;
}

.users-icon {
    color: lightgreen;
    margin-right: 5px;
}

.users-name {
    color: white;
}

.users-row:hover {
    background-color: #074963;
}